.user-block-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-to-chat {
    margin-top: 20px;
    width: 100px;
    background-color: white;
    border: 1px solid magenta;
    color: rgb(97, 1, 97);
    border-radius: 5px;
    cursor: pointer;
}

.button-to-chat:hover {
    background-color: darkmagenta;
    color: white;
}

.button-add-user {
    margin-top: 20px;
    width: 100px;
    background-color: white;
    border: 1px solid steelblue;
    color: rgb(1, 34, 48);
    border-radius: 5px;
    cursor: pointer;
}

.button-add-user:hover {
    background-color: steelblue;
    color: white;
}
