.edit-user {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-user-container {
    width: 30%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 34%;
    border: 1px solid black;
    padding: 20px;
}

.edit-user-input {
    width: 100%;
    height: 70px;
    font-family: Garamond;
    font-size: 16px;
    margin-bottom: 20px;
}

.edit-user-button:focus {
    outline: 1px solid teal;
}

.edit-user-button {
    margin-top: 20px;
    width: 20%;
    background-color: white;
    border: 1px solid lightsalmon;
    color: lightsalmon;
    border-radius: 5px;
    cursor: pointer;
}

.edit-user-button:hover {
    background-color: salmon;
    color: white;
}

.edit-user-close {
    margin-top: 20px;
    width: 20%;
    background-color: white;
    border: 1px solid mediumaquamarine;
    color: mediumaquamarine;
    border-radius: 5px;
    cursor: pointer;
}

.edit-user-close:hover {
    background-color: aquamarine;
    color: rgb(1, 34, 23);
}

.input-title {
    align-self: flex-start;
}

.input-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.password-toggler {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}