.button-to-users {
    margin-top: 20px;
    margin-left: 45%;
    width: 10%;
    background-color: white;
    border: 1px solid magenta;
    color: rgb(97, 1, 97);
    border-radius: 5px;
    cursor: pointer;
}

.button-to-users:hover {
    background-color: darkmagenta;
    color: white;
}