.preloader {
  margin-top: 20%;
  margin-left: 44%;
}

.preloader-logo {
  height: 20vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear
}

@keyframes App-logo-spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
