.user-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    border: 1px solid teal;
    padding: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info-name {
    font-weight: bold;
}

.user-info-email {
    font-weight: bold;
    margin-top: 10px;
}

.user-info-avatar {
    width: 50px;
    margin-right: 10px;
}

.user-button-edit {
    margin-right: 20px; 
    width: 50px;
    background-color: white;
    border: 1px solid lightsalmon;
    color: lightsalmon;
    border-radius: 5px;
    cursor: pointer;
    font-family: Garamond;
    font-size: 16px;
}

.user-button-edit:hover {
    background-color: salmon;
    color: white;
}

.user-button-delete {
    width: 60px;
    background-color: white;
    border: 1px solid rgb(33, 68, 56);
    color: rgb(39, 78, 65);
    border-radius: 5px;
    cursor: pointer;
    font-family: Garamond;
    font-size: 16px;
}

.user-button-delete:hover {
    background-color: rgb(33, 68, 56);
    color: rgb(229, 248, 241);
}