.message {
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-user-name {
    margin-top: 5px;
}

.message-user-avatar {
    width: 50px;
}

.message-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.message-info-container {
    align-self: flex-end;    
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-text {
    text-align: left;
    width: 100%;
    align-self: flex-start;
    word-wrap: break-word;
}

.message-like {
    color: white;
    background: lightgray;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}

.message-like:hover {
    color: lightskyblue;
}

.message-liked {
    color: royalblue;
    background: lightgray;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}

.message-liked:hover {
    color: whitesmoke;
}