.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  border: 1px solid teal;
  padding: 20px;
  margin-top: 20%;
}

.login-button {
  align-self: center;
  margin-top: 20px;
  width: 30%;
  background-color: white;
  border: 1px solid rgb(33, 68, 56);
  color: rgb(39, 78, 65);
  border-radius: 5px;
  cursor: pointer;
  font-family: Garamond;
  font-size: 16px;
}

.login-button:hover {
  background-color: rgb(33, 68, 56);
  color: rgb(229, 248, 241);
}

.login-form-input {
  font-family: Garamond;
  font-size: 14px;
}

.login-form-input:focus {
  outline: 1px solid teal;
}