.message-list {
    width: 70%;
    height: 65vh;
    margin-top: 20px;
    margin-left: 14%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 5px rgb(94, 93, 93);
}

.messages-divider {
    width: 100%;
    height: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
  .messages-divider::before,
  .messages-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .messages-divider:not(:empty)::before {
    margin-right: .25em;
  }
  
  .messages-divider:not(:empty)::after {
    margin-left: .25em;
  }